@import '@yukaii/github-highlightjs-themes/themes/github-dark-default.css'
  layer(hljs) (prefers-color-scheme: dark);
@import '@yukaii/github-highlightjs-themes/themes/github-light-default.css'
  layer(hljs) (prefers-color-scheme: light);
@import './config.css' layer(default);
@import './reveal.css';

html,
body,
.reveal-viewport {
  font-family: var(--font-sans);
  font-size: var(--fs-md);
  line-height: var(--lh-md);
  color: var(--fg);
  background: var(--bg);
}

* {
  margin: 0;
}

/* Block Elements */

* + :is(h1, h2, h3, h4, h5, h6, p, ul, ol, dl, table, pre, blockquote, table) {
  margin-top: calc(1em * var(--lh-xs));
  text-wrap: pretty;
}

p {
  margin-inline: auto;
  max-width: 28em;
}

/* Headlines */

:is(h1, h2, h3, h4, h5, h6) {
  font-weight: 700;
  line-height: var(--lh-xs);
}

:is(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6) {
  margin-top: calc(0.1 * var(--fs-md));
}

h1 {
  font-size: var(--fs-5xl);
}

h2 {
  font-size: var(--fs-4xl);
}

h3 {
  font-size: var(--fs-3xl);
}

h4 {
  font-size: var(--fs-2xl);
}

h5 {
  font-size: var(--fs-xl);
}

h6 {
  font-size: var(--fs-lg);
}

small,
sub,
super {
  font-size: var(--fs-sm);
}

sub {
  vertical-align: sub;
}

super {
  vertical-align: super;
}

/* Lists */

:is(ul, ol, dl) {
  display: inline-block;
  text-align: left;
}

:is(ul, ol) {
  padding-left: 1.5em;
}

:is(ul, ol, dl) :is(ul, ol, dl) {
  display: block;
}

li::marker {
  color: var(--fg-muted);
}

* + li,
li :is(ul, ol, dl) {
  margin-top: 0.4em;
}

/* Links */

a,
a:link,
a:visited {
  color: var(--link);
  text-underline-offset: 0.125em;
}

a:hover,
a:focus {
  color: var(--link-over);
}

/* Tables */

table {
  margin-inline: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: 700;
}

th,
td {
  text-align: left;
  padding-block: 0.2em;
}

* + :is(th, td) {
  padding-left: 1em;
}

tbody,
* + tr {
  border-top: 1px solid var(--fg-muted);
}

[align='right'] {
  text-align: right;
}

/* Code */

pre {
  text-align: left;
  line-height: 1.1;
  text-wrap: unset;
}

code {
  font-size-adjust: 0.45;
  white-space: break-spaces;
}

.hljs {
  padding: 0;
  background: unset;
}

.hljs :is(tbody, tr) {
  border: 0;
}

/* Inline Code */

:not(pre) > code {
  margin: 0;
  padding: 0.166em 0.333em;
  background: var(--bg-muted);
  border-radius: 6px;
  font-size-adjust: 0.5;
}

/* Left align the element above a code block (eg. for using `code` for file names)  */

:has(* > code:only-child, * + .code-wrapper) > *:has(+ .code-wrapper) {
  text-align: left;
  margin-inline: 0;
  max-width: unset;
}

/* Blockquotes */

blockquote {
  margin-inline: auto;
  font-size: var(--fs-2xl);
  line-height: var(--lh-xs);
  text-wrap: pretty;
  font-weight: 400;
  font-family: var(--font-serif);
  font-style: italic;
}

:has(blockquote:only-of-type + * > em:only-child) > blockquote + * {
  color: var(--fg-muted);
}

:has(blockquote:only-of-type + * > em:only-child) > blockquote + *:before {
  content: '— ';
}

/* Media */

img,
video,
audio {
  display: inline-block;
  max-width: min(var(--slide-width, 100%), 100%);
  max-height: var(--slide-height, 100%);
  object-fit: contain;
  vertical-align: bottom;
}

[src$='#fit'] {
  height: calc(1em * var(--lh-md));
}

/* Frame Helper */

.r-frame {
  padding: 0.125em;
  border: 0.0625em solid var(--fg-muted);
  box-shadow:
    0 0 1em -0.125em rgb(from var(--fg) r g b / 0.25),
    0 0 0.125em rgb(from var(--fg) r g b / 0.25);
}

a .r-frame {
  transition: all 0.15s linear;
}

a:hover .r-frame {
  border-color: var(--link);
  box-shadow:
    0 0 1.5em -0.125em rgb(from var(--link) r g b / 0.5),
    0 0 0.25em rgb(from var(--link) r g b / 0.25);
}
